/*!***********************
 *                       *
 *      BREAKOUT 1.0     *
 *                       *
 *  (C) Lukas Prvy 2012  *
 *                       *
 *************************/

/* =====[ FONTS ]================================================================================ */

/* -----[ IOMANOID ]----------------------------------------------------------------------------- */

@font-face {
    font-family: iomanoid;
    src: url('../font/iomanoid.eot');
    src:
        url('../font/iomanoid.eot?#iefix') format('embedded-opentype'),
        url('../font/iomanoid.woff') format('woff'),
        url('../font/iomanoid.ttf') format('truetype'),
        url('../font/iomanoid.svg#IomanoidRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* -----[ DIGITAL ]------------------------------------------------------------------------------ */

@font-face {
    font-family: digital;
    src: url('../font/digital.eot');
    src:
        url('../font/digital.eot?#iefix') format('embedded-opentype'),
        url('../font/digital.woff') format('woff'),
        url('../font/digital.ttf') format('truetype'),
        url('../font/digital.svg#Digital7Mono') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* =====[ CONTAINER ]============================================================================ */

#breakout {
    position: relative;
    border: 1px solid #000000;
    width: 559px;
    height: 559px;
    overflow: hidden;
    background: url(../img/background.png) #111;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

#breakout.breakoutInfo {
    border: 1px solid #aaa;
    padding: 10px;
    width: 334px;
    height: auto;
    font-family: sans-serif;
    line-height: 20px;
    color: #4e4e4e;
    background: #f1f1f1;
    box-shadow: none;
}

#breakout.breakoutInfo,  
#breakout.breakoutInfo a {
    font-size: 13px;
}

#breakout.breakoutInfo a {
    color: #1e90ff;
}

#breakout.breakoutInfo a:hover {
    text-decoration: none;
}

/* =====[ INFO ]================================================================================= */

#breakoutInfo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: iomanoid;
    font-size: 85px;
    line-height: 531px;
    text-align: center;
    text-transform: uppercase;
    z-index: 3;
    cursor: default;
    color: #fff;
    background: url(../img/loading.gif) no-repeat center center #111;
}

#breakout.breakoutLoaded #breakoutInfo {
    bottom: 28px;
    background: url(../img/background.png);
}

/* =====[ SCREEN ]=============================================================================== */

#breakoutScreen {
    position: relative;
    width: 559px;
    height: 530px;
}

/* -----[ BRICKS ]------------------------------------------------------------------------------- */

#breakout .breakoutBrick {
    position: absolute;
    width: 43px;
    height: 23px;
    z-index: 1;
    background: url(../img/bricks.png);
}

#breakout .breakoutBrick[data-type="0"] {
    visibility: hidden;
}

#breakout .breakoutBrick[data-type="2"] {
    background-position: 0 -23px;
}

#breakout .breakoutBrick[data-type="3"] {
    background-position: 0 -46px;
}

#breakout .breakoutBrick[data-type="4"] {
    background-position: 0 -69px;
}

#breakout .breakoutBrick[data-type="5"] {
    background-position: 0 -92px;
}

#breakout .breakoutBrick[data-type="6"] {
    background-position: 0 -115px;
}

#breakout .breakoutBrick[data-type="7"] {
    background-position: 0 -138px;
}

#breakout .breakoutBrick[data-type="8"] {
    background-position: 0 -161px;
}

/* -----[ POWER-UPS ]---------------------------------------------------------------------------- */

#breakout .breakoutPowerup {
    position: absolute;
    width: 32px;
    height: 14px;
    z-index: 1;
}

#breakout .breakoutPowerup[data-type] {
    display: none;
    background: url(../img/powerup.png);
}

#breakout .breakoutPowerup .breakoutAnimation {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center top;
}

#breakout .breakoutPowerup[data-type="e"] .breakoutAnimation {
    background-image: url(../img/powerup_e.gif);
}

#breakout .breakoutPowerup[data-type="f"] .breakoutAnimation {
    background-image: url(../img/powerup_f.gif);
}

#breakout .breakoutPowerup[data-type="l"] .breakoutAnimation {
    background-image: url(../img/powerup_l.gif);
}

#breakout .breakoutPowerup[data-type="p"] .breakoutAnimation {
    background-image: url(../img/powerup_p.gif);
}

#breakout .breakoutPowerup[data-type="s"] .breakoutAnimation {
    background-image: url(../img/powerup_s.gif);
}

#breakout .breakoutPowerup[data-type="t"] .breakoutAnimation {
    background-image: url(../img/powerup_t.gif);
}

/* -----[ BALL ]--------------------------------------------------------------------------------- */

#breakout .breakoutBall {
    position: absolute;
    top: 283px;
    left: 233px;
    width: 14px;
    height: 14px;
    background: url(../img/ball.png);
}

/* -----[ LASER ]-------------------------------------------------------------------------------- */

#breakoutLaser {
    position: absolute;
    display: none;
    width: 40px;
    height: 8px;
    background: url(../img/laser.gif);
}

/* =====[ PADDLE ]=============================================================================== */

#breakoutPaddle {
    position: absolute;
    left: 235px;
    bottom: 0;
    width: 90px;
    height: 17px;
    z-index: 2;
}

#breakoutPaddle .breakoutLeft,
#breakoutPaddle .breakoutMiddle,
#breakoutPaddle .breakoutRight {
    position: absolute;
    bottom: 0;
    background: url(../img/paddle.png);
}

#breakoutPaddle .breakoutLeft,
#breakoutPaddle .breakoutRight {
    top: 0;
    width: 16px;
}

#breakoutPaddle .breakoutLeft {
    left: 0;
}

#breakoutPaddle .breakoutMiddle {
    top: -6px;
    left: 16px;
    right: 16px;
}

#breakoutPaddle[data-type="normal"] .breakoutMiddle,
#breakoutPaddle[data-type="long"] .breakoutMiddle {
    background-position: 0 -17px;
}

#breakoutPaddle[data-type="long"] {
    width: 119px;
}

#breakoutPaddle[data-type="laser"] .breakoutMiddle {
    background-position: 0 -40px;
}

#breakoutPaddle .breakoutRight {
    right: 0;
    background-position: -13px 0;
}

/* =====[ PANEL ]================================================================================ */

#breakoutPanel {
    position: absolute;
    display: table;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #000000;
    height: 28px;
    font-family: digital;
    font-size: 24px;
    line-height: 24px;
    text-shadow:
        -1px -1px #333333,
        0 -1px #333333,
        -1px 0 #333333,
        1px 0 #535353,
        1px 1px #535353,
        0 1px #535353;
    color: #d5d5d5;
    background: url(../img/panel.png);
}

#breakoutPanel .breakoutHighlight {
    color: #90ee90 !important;
}

#breakoutPanel > * {
    border-top: 1px solid #696969;
    border-right: 1px solid #232323;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: default;
}

#breakoutPanel > * + * {
    border-left: 1px solid #585858;
}

#breakoutMessage {
    display: none;
}

#breakoutPanel.breakoutMessage > [data-value] {
    display: none;
}

#breakoutPanel.breakoutMessage #breakoutMessage {
    display: table-cell;
}

#breakoutPanel .breakoutClick {
    border-color: transparent;
}

#breakoutPanel .breakoutLast {
    border-right: none;
}

/* -----[ CONTROLS ]----------------------------------------------------------------------------- */

#breakoutPanel .breakoutControl {
    display: none;
    width: 28px;
    font-size: 17px;
    cursor: pointer;
}

#breakoutPanel .breakoutControl[data-visible="true"] {
    display: table-cell;
}

#breakoutPanel .breakoutControl[data-type="play"] {
    font-size: 14px;
}

#breakoutPanel .breakoutControl:hover {
    background: url(../img/panel.png) #4b4b4b;
}

#breakoutPanel .breakoutControl[data-state="true"] {
    color: #90ee90;
}

#breakoutPanel .breakoutControl[data-enabled="false"] {
    cursor: default;
}

/* -----[ VALUES ]------------------------------------------------------------------------------- */

#breakoutPanel [data-value] {
    text-transform: uppercase;
}

#breakoutPanel [data-value] * {
    display: inline-block;
}

#breakoutPanel [data-value] .breakoutValue {
    color: #87cefa;
}

/* =====[ RETINA DISPLAY ]======================================================================= */

@media only screen and (min-device-pixel-ratio: 2),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1) {

    #breakout,
    #breakout.breakoutLoaded #breakoutInfo {
        background-image: url(../img/2x/background.png);
        background-size: 76px, 76px;
        -webkit-background-size: 76px, 76px;
        -moz-background-size: 76px, 76px;
        -o-background-size: 76px, 76px;
    }
    
    #breakoutInfo {
        background-image: url(../img/2x/loading.gif);
        background-size: 64px, 64px;
        -webkit-background-size: 64px, 64px;
        -moz-background-size: 64px, 64px;
        -o-background-size: 64px, 64px;
    }
    
    #breakout .breakoutBrick {
        background-image: url(../img/2x/bricks.png);
        background-size: 43px, 23px;
        -webkit-background-size: 43px, 23px;
        -moz-background-size: 43px, 23px;
        -o-background-size: 43px, 23px;
    }
    
    #breakout .breakoutPowerup[data-type] {
        background-image: url(../img/2x/powerup.png);
        background-size: 32px, 14px;
        -webkit-background-size: 32px, 14px;
        -moz-background-size: 32px, 14px;
        -o-background-size: 32px, 14px;
    }
    
    #breakout .breakoutAnimation {
        background-size: 12px, 14px;
        -webkit-background-size: 12px, 14px;
        -moz-background-size: 12px, 14px;
        -o-background-size: 12px, 14px;
    }
    
    #breakout .breakoutPowerup[data-type="e"] .breakoutAnimation {
        background-image: url(../img/2x/powerup_e.gif);
    }
    
    #breakout .breakoutPowerup[data-type="f"] .breakoutAnimation {
        background-image: url(../img/2x/powerup_f.gif);
    }
    
    #breakout .breakoutPowerup[data-type="l"] .breakoutAnimation {
        background-image: url(../img/2x/powerup_l.gif);
    }
    
    #breakout .breakoutPowerup[data-type="p"] .breakoutAnimation {
        background-image: url(../img/2x/powerup_p.gif);
    }
    
    #breakout .breakoutPowerup[data-type="s"] .breakoutAnimation {
        background-image: url(../img/2x/powerup_s.gif);
    }
    
    #breakout .breakoutPowerup[data-type="t"] .breakoutAnimation {
        background-image: url(../img/2x/powerup_t.gif);
    }
    
    #breakout .breakoutBall {
        background-image: url(../img/2x/ball.png);
        background-size: 14px, 14px;
        -webkit-background-size: 14px, 14px;
        -moz-background-size: 14px, 14px;
        -o-background-size: 14px, 14px;
    }
    
    #breakoutLaser {
        background-image: url(../img/2x/laser.gif);
        background-size: 40px, 8px;
        -webkit-background-size: 40px, 8px;
        -moz-background-size: 40px, 8px;
        -o-background-size: 40px, 8px;
    }
    
    #breakoutPaddle .breakoutLeft,
    #breakoutPaddle .breakoutMiddle,
    #breakoutPaddle .breakoutRight {
        background-image: url(../img/2x/paddle.png);
        background-size: 58px, 63px;
        -webkit-background-size: 58px, 63px;
        -moz-background-size: 58px, 63px;
        -o-background-size: 58px, 63px;
    }
    
    #breakoutPanel,
    #breakoutPanel .breakoutControl:hover {
        background-image: url(../img/2x/panel.png);
        background-size: 1px, 56px;
        -webkit-background-size: 1px, 56px;
        -moz-background-size: 1px, 56px;
        -o-background-size: 1px, 56px;
    }

}