



/* --------------------------------
        IMG

-------------------------------- */
#img_front {
    right: -20px;
    width: 90%;
}


#box_streamer {
    margin-top: 5px;
    margin-bottom: 5px;
}



#bouton {
    margin-top: 10px;
    margin-bottom: 5px;
}


img.thumb_top{
    width : 100%;
}

img.thumb_top{
    width : 100%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}




/* --------------------------------
        IMG

-------------------------------- */





#social {
    position: absolute;
    top:    260px;
    right: 435px;
    z-index: 5;
}


#social a {
    margin-right: 5px;
    margin-bottom: 13px;
    height: 70px;
    width: 70px;
    transition: margin-left 0.3s ease 0s;
}



#page div.paging span {
    margin-left : 5px;
    background: url("images/menu_2.png") repeat-x scroll 0px 0px transparent;
    border-radius: 4px;
    padding: 2px 2px 2px 2px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 12px;
    height: 15px;
    vertical-align: middle;
}

strong.strong_comment_redacteur {
    margin-right : 5px;
    color: rgb(255, 136, 17);
    font-size: 12px;
}

p.article {
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 19px;
    font-size: 13px;
}



h1.thunder{
    position: relative;
    width : 95%;
    font: 17px/32px Helvetica;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background: url("images/menu_2.png") repeat-x scroll 0px 0px transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0px 15px;
    margin-top : -15px;
    margin-left: 0px;  
}


h2.thunder{
    position: relative;
    width: 98%;
    padding-left:10px;
    font: normal 17px/37px Helvetica ;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    height: 36px;
    background: url("images/pattern_menu.png") repeat scroll 0% 0% rgb(50, 50, 50);
    border-bottom: 2px solid rgb(255, 136, 17);
    box-shadow: 0px 2px 6px -2px rgb(31, 15, 5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


/* --------------------------------
		HEADER
-------------------------------- */

#header_logo {
    margin-top: -35px;
    margin-bottom: -35px;
    width : 65%;
    float: left;
}
#first_head {
    background-image: linear-gradient(to bottom, rgb(69, 69, 69), rgb(41, 41, 41));
}

#box_center {
    height: 80px;
}
#menu {
    height: 36px;
    background: url("images/pattern_menu.png") repeat scroll 0% 0% rgb(80, 80, 80);
}

img.ThunderBot {
    margin-top : 6px;
    margin-bottom : 6px;
}


#header_webtv  {
    float: left;  
    margin-left : 39px;
    border: 2px solid rgb(255, 136, 17);
}
#header_webtv_banniere_top  {
    margin-top : 10px;
    width: 61%;
    margin-left : 39px;
}
#menu_thunder  {
    color : white;
}





/* --------------------------------
        CONTENT
-------------------------------- */
#page {
    min-height: 800px;
    background-color: rgb(250, 250, 250);
    position: relative;
    z-index: 10;
    box-shadow: 0px 0px 8px 0px rgb(128, 128, 128);
    padding: 20px;
    border-left: 2px solid rgb(255, 136, 17);
    border-right: 2px solid rgb(255, 136, 17);
}


#sidebar {
    margin-top: -19px;   
}

#slideshow {
    margin-top: -10px;   
    margin-left: -10px;  
   box-shadow: 0px 2px 6px -2px rgb(31, 15, 5);
}



#article {
  margin-left: -10px;
}






/* --------------------------------
        sidebar_video
-------------------------------- */


div.sidebar_video {
    display: block;
    clear: both;
    margin-bottom: 5px;
    border-radius: 4px;
    box-shadow: 0px 2px 6px -2px rgb(31, 15, 5);
    border: 1px solid rgb(255, 136, 17);
}

img.sidebar_video {
    float: left;
    height: 60px;
    overflow: hidden;
}



div.sidebar_video h3 {
    color: rgb(1, 1, 1);
    font-size: 14px;
}

span.sidebar_video_comment {
    float :right;
    background: url("images/menu_2.png") repeat-x scroll 0px 0px transparent;
    border-radius: 4px;
    padding: 2px 2px 2px 2px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 12px;
    height: 15px;
    vertical-align: middle;
}




/* --------------------------------
        CONTENT ARTICLE_INDEX ARTICLE
-------------------------------- */



h2.title_top {
    line-height: 17px;
    font-size: 15px;
    margin-left : 5px;
}



span.comment_total_thumb {
    background: url('images/menu_2.png') repeat-x scroll 0px 0px transparent;
    border-radius: 4px;
    padding: 2px;
    color: #FFF;
    font-size: 12px;
    line-height: 12px;
    height: 15px;
    vertical-align: middle;
}

div.article_content_thumb {
    margin-left : 5px;
    margin-right : 5px;
}


div.article_thumb {
    margin: 0px 0px 5px 0px;
    padding: 0px 0px 0px 0px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 6px -2px rgb(31, 15, 5);
    border: 1px solid rgb(255, 136, 17);
    min-height: 190px;

}



div.article {
    margin: 0px 0px 5px 0px;
    padding: 0px 0px 0px 44%;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 6px -2px rgb(31, 15, 5);
    border: 1px solid rgb(255, 136, 17);
    min-height: 172px;
}



div.article img.thumb_blog {
    width : 42%;
    position: absolute;
    top: 3px;
    left: 3px;
}




div.article h2 {
    margin-top : 5px;
    color: rgb(1, 1, 1);
    text-transform: uppercase;
    line-height: 17px;
    font-size: 13px;
    position: relative;
}


div.article span.article_index_redac {
    font: 8px/22px Helvetica;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background: url("images/menu_2.png") repeat-x scroll 0px 0px transparent;
    border-radius: 2px;
    padding: 5px 5px;
    margin-left : 4px;
}

div.article p.content {
    color: rgb(102, 102, 102);
}

div.articlecontent a.btn_thunder {
    position: relative;
    height: 25px;
    font: 10px/25px Helvetica;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background: url("images/menu_2.png") repeat-x scroll 0px 0px transparent;
    border-radius: 4px;
    padding: 5px 5px;
}

/* --------------------------------
        CONTENT ARTICLE_INDEX BREV
-------------------------------- */

div.brev  {
    margin: 0px 0px 5px 0px;
    padding: 0px 0px 0px 18%;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 6px -2px rgb(31, 15, 5);
    border: 1px solid rgb(255, 136, 17);
    min-height: 65px;
}



div.brev h2 {
    margin-top : 5px;
    color: rgb(1, 1, 1);
    text-transform: uppercase;
    line-height: 17px;
    font-size: 13px;
    position: relative;
}
div.brev p.content {
    color: rgb(46, 173, 163);
}

div.brev img.thumb_blog {
    width : 15%;
    position: absolute;
    top: 3px;
    left: 3px;
}

div.brev span.article_index_redac {
    font: 8px/22px Helvetica;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background: url("images/menu_2.png") repeat-x scroll 0px 0px transparent;
    border-radius: 4px;
    padding: 5px 5px;
    margin-left : 2px;
}




/* --------------------------------
        CONTENT ARTICLE_INDEX DOSSIER
-------------------------------- */

div.dossier {
    margin: 0px 0px 5px 0px;
    padding: 0px 0px 0px 44%;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 6px -2px rgb(31, 15, 5);
    border: 1px solid rgb(255, 136, 17);
    min-height: 400px;
}



div.dossier img.thumb_blog {
    position: absolute;
    top: 3px;
    left: 3px;
}

div.dossier h2 {
    margin-top : 5px;
    color: rgb(255, 136, 17);
    text-transform: uppercase;
    line-height: 17px;
    font-size: 13px;
    border-bottom: 1px solid rgb(191, 191, 191);
    position: relative;
}


div.dossier span.article_index_redac {
    position: relative;
    height: 25px;
    font: 10px/25px Helvetica;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background: url("images/menu_2.png") repeat-x scroll 0px 0px transparent;
    border-radius: 4px;
    padding: 5px 5px;
    margin-left : 5px;
}



/* --------------------------------
        CONTENT ARTICLE_view
-------------------------------- */
h1.thunder_article_view{
    position: relative;
    font: 17px/32px Helvetica;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background: url("images/menu_2.png") repeat-x scroll 0px 0px transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0px 15px;
    margin-top : -8px;
    margin-bottom : 1px;
    margin-left: 0px;  
}

div.article_view {
    margin: 0px 0px 5px 0px;
    padding: 2% 2% 2% 2%;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 6px -2px rgb(31, 15, 5);
    border: 1px solid rgb(255, 136, 17);
    min-height: 400px;
    color: rgb(102, 102, 102);
}

div.article p.content_view {
    margin-top : 10px;
    color: rgb(102, 102, 102);
}


/* --------------------------------
        CONTENT ARTICLE_view_comment
-------------------------------- */
div.content_view_comment  {
    margin: 0px 0px 10px 0px;
    padding: 2% 2% 2% 2%;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 6px -2px rgb(31, 15, 5);
    border: 1px solid rgb(255, 136, 17);
    min-height: 125px;
    color: rgb(102, 102, 102);
}

div.content_view_comment h2 {
    position: relative;
    width: 98%;
    padding-left:10px;
    font: normal 17px/37px Helvetica ;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    height: 36px;
    background: url("images/pattern_menu.png") repeat scroll 0% 0% rgb(50, 50, 50);
    border-bottom: 2px solid rgb(255, 136, 17);
    box-shadow: 0px 2px 6px -2px rgb(31, 15, 5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top : -10px;
}







/* --------------------------------
        GALLERIE
-------------------------------- */




span.green_validate{
    background: url("images/green_menu_2.png") repeat-x scroll 0px 0px transparent;
    border-radius: 4px;
    padding: 2px 2px 2px 2px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 12px;
    height: 15px;
    vertical-align: middle;
}


span.red_validate{
    background: url("images/red_menu_2.png") repeat-x scroll 0px 0px transparent;
    border-radius: 4px;
    padding: 2px 2px 2px 2px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 12px;
    height: 15px;
    vertical-align: middle;
}


h3.h3_title_galerie{
    margin-left : 10%;
}




#image_index {
    margin: 0px 0px 5px 0px;
    padding: 10px 10px 10px 10px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 6px -2px rgb(31, 15, 5);
    border: 1px solid rgb(255, 136, 17);
    margin-bottom : 5%;
    background-color : rgb(252, 252, 252);
}

 img.image_index_full {
    width : 80%;
    box-shadow: 0px 2px 6px -2px rgb(31, 15, 5);
    border: 1px solid rgb(255, 136, 17);
    margin-left : 10%;
    margin-bottom : 5%;
}


h2.image_index {
    margin-left : 10%;
    text-transform: uppercase;
    font-size: 22px;
    color: rgb(0, 0, 0);
}



h2.image_index2 {
    margin-left : 2%;
    text-transform: uppercase;
    font-size: 13px;
    color: rgb(0, 0, 0);
}

div.img_sidebar {
    margin: 0px 0px 5px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 6px -2px rgb(31, 15, 5);
    border: 1px solid rgb(255, 136, 17);
}

div.content_img {
    margin-left: 10%;
    padding-right: 10%;
    color: rgb(0, 0, 0);
}


h3.h3_title_galerie_sidebar{
    margin-left : 10%;
    margin-top: 5px;
    color: rgb(1, 1, 1);
    text-transform: uppercase;
    line-height: 17px;
    font-size: 13px;
    position: relative;
}




span.float {
    float : right;
    margin-bottom : 15px;
    margin-left : 5px; 
}

/* --------------------------------
        sidebar_brev
-------------------------------- */


div.sidebar_brev {
    clear: both;
    margin-top: -25px;
    margin-bottom: -5px;
}


div.sidebar_brev h3 {
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-weight: normal;
}
/* --------------------------------
        BLOG_SIDEBQR
-------------------------------- */


/* --------------------------------
        WEBTV
-------------------------------- */



span.webtv_meta {
    border-radius: 4px;
    padding: 2px;
    background-color: rgb(255, 136, 17);
    float: left;
    margin: 15px 10px;
    width: 110px;
    text-align: center;
    height: 24px;
    line-height: 20px;
    font-size: 15px;
    vertical-align: middle;
    color: rgb(255, 255, 255);
}

img.img_streamer_calandar {
    width : 76%;
    margin-bottom : 10px;
}



#twit {
    width : 87%;
    margin-left : 10%;
}



/* --------------------------------
        COMMENT
-------------------------------- */

div.comment {

    margin-bottom : 10px;
    margin-top : 10px;
    box-shadow: 0px 2px 6px -2px rgb(31, 15, 5);
}


div.meta_comment {
    margin-left :  5px;
}


strong.strong_comment {
    color: rgb(255, 136, 17);
}





span.comment_total{
    background: url("images/menu_2.png") repeat-x scroll 0px 0px transparent;
    border-radius: 4px;
    padding: 2px 2px 2px 2px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 12px;
    height: 15px;
    vertical-align: middle;
}





/* --------------------------------
        PLAYER
-------------------------------- */


div.player {
    margin: 0px 0px 5px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 6px -2px rgb(31, 15, 5);
    border: 1px solid rgb(255, 136, 17);
}


h2.player {
    position: relative;
    width: 98%;
    padding-left: 10px;
    font: 17px/37px Helvetica;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    height: 36px;
    background: url("images/pattern_menu.png") repeat scroll 0% 0% rgb(50, 50, 50);
    border-bottom: 2px solid rgb(255, 136, 17);
    box-shadow: 0px 2px 6px -2px rgb(31, 15, 5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}



span.player_role {
    float : right;
    font: 12px/24px Helvetica;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background: url("images/menu_2.png") repeat-x scroll 0px 0px transparent;
    border-radius: 4px;
    padding: 5px;
    margin-right: 1px;
    margin-top: 1px;
}



img.social {
    width : 50%;
}


img.social2 {
    width : 50%;
    margin-right: -5px;
}

/* --------------------------------
		FOOTER
-------------------------------- */

#f_present p {
    padding: 10px;
}

#footer_ger {
    margin-top: 10px;
}


footer div.title {
    height: 30px;
    border-bottom: 1px solid rgb(255, 136, 17);
    margin: 20px 20px 0px;
    font-family: EpicFusion;
    font-size: 20px;
}

#f_present {
	display: block;
    background: url("images/Logo_footer_medium.png") no-repeat scroll center 13px rgb(80, 80, 80);
    font-size: 12px;
    padding-top: 75px;
    float: left;
    position: relative;
    width: 230px;
    height: 230px;
    margin: 0px 10px;
    overflow: hidden; 
    box-shadow: 0px 0px 7px 0px rgb(48, 48, 48) inset; 
}


#f_menu {
    background: no-repeat scroll center 13px rgb(80, 80, 80);
    font-size: 12px;
    padding-top: 20px;
    float: left;
    position: relative;
    width: 230px;
    height: 285px;
    margin: 0px 10px;
    overflow: hidden; 
    box-shadow: 0px 0px 7px 0px rgb(48, 48, 48) inset; 

}

#f_sponsor {
    background: no-repeat scroll center 13px rgb(80, 80, 80);
    font-size: 12px;
    padding-top: 20px;
    float: left;
    position: relative;
    width: 230px;
    height: 285px;
    margin: 0px 10px;
    overflow: hidden; 
    box-shadow: 0px 0px 7px 0px rgb(48, 48, 48) inset;   

}

#f_title {
    background: no-repeat scroll center 13px rgb(80, 80, 80);
    font-size: 12px;
    padding-top: 20px;
    float: left;
    position: relative;
    width: 230px;
    height: 285px;
    margin: 0px 10px;
    overflow: hidden; 
    box-shadow: 0px 0px 7px 0px rgb(48, 48, 48) inset;  
}

img {
  &:extend(.img-responsive);
}




