
@font-face {
    font-family: Akashi;
    src: url(/design/css/fonts/Akashi.ttf);
    font-weight:400;
}


html,
body {
  overflow-x: hidden;
}



body {

    background-color: #f5f5f5;
    padding-top: 70px;

}
.big-menu, .big-title
{
    font-family: Akashi;
    padding-right: 2.5%;
}
@media (max-width: 1024px)s
{
    .menu-dynamique li {
        margin-right: -5px!important;
        margin-top: 4px!important;
    }
    .navbar-ex1-collapse .pull-right{
        float:left!important;
        /*margin-right: 19%!important;*/
        padding-left: 5%;
    }
}
@media (width: 1024px)
{
    .navbar-ex1-collapse .pull-right{
        float:left!important;
        padding-left: 17%;
    }
}


@media screen and (max-width: 200px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .40s ease-out;
       -moz-transition: all .40s ease-out;
            transition: all .40s ease-out;
  }
}
  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%;
  }

  .row-offcanvas-right.active {
    right: 50%;
  }

  .row-offcanvas-left.active {
    left: 50%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
  }



span.poste {
    width: 12%;
    background: none repeat scroll 0% 0% #d90008;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    line-height: 22px;
    padding: 3px;
    margin: 30px 0px 28px 10px;
    border-radius: 13px;
}


div.content_guide {
    padding: 15px;
}

div.spell_guide {
    padding: 15px;
}

#page {
   background: none repeat scroll 0% 0% #ffffff;
}






html, body {

}

span.clear {
  display: block;
  height: 1px;
  line-height: 1px;
  font-size: 1px;
  clear: both;
}

.success {
  display: block;
  padding: 4px 10px;
  background: #6BB673;
  border-left: 1px solid #6BB673;
  border-right: 1px solid #6BB673;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
}

.error {
  display: block;
  padding: 4px 10px;
  background: #862123;
  border-left: 1px solid #862123;
  border-right: 1px solid #862123;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
}

#menu {
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  background: #ededee;
  margin-bottom: 10px;
  overflow: hidden;
}
#menu li {
  display: block;
  float: left;
  margin: 0 20px;
}
.menu-dynamique
{
    margin-top: -2px;

}

#guides {
  width: 830px;
  float: left;
  text-align: left;
}

#texts {
  padding: 20px;
}
#texts label {
  display: block;
  clear: both;
  float: left;
  width: 80px;
  padding: 0 10px;
  text-align: right;
  font-family: 'Convergence', sans-serif;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 10px;
}
#texts input {
  display: block;
  width: 300px;
  padding: 0 10px;
  border: none;
  height: 26px;
  line-height: 26px;
  background: #ededee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
}
#texts #cke_description {
  float: none;
  clear: both;
}

.page-guides h1,
.page-guides h2,
.page-guides h3 {
  font-family: 'Convergence', sans-serif;
}
.page-guides h1 {
  margin: 0;
  padding: 20px;
  font-size: 22px;
}
.page-guides h2 {
  padding: 0 20px 10px;
  font-size: 16px;
}

#masteries {
  position: relative;
  padding: 10px;
  overflow: hidden;
  z-index: 0;
}

.add #masteries {
  background: #ededee;
}

.arbre {
  position: relative;
  width: 264px;
  height: 470px;
  float: left;
}
.arbre#arbre1 { background: url("../img/tree/tree1.jpg") no-repeat 0 0; margin-left: 8px;}
.arbre#arbre2 { background: url("../img/tree/tree2.jpg") no-repeat 0 0;}
.arbre#arbre3 { background: url("../img/tree/tree3.jpg") no-repeat 0 0;}

.arbre a {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 2px solid #aaa;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.arbre a.active {
  border-color: #ffff00;
  color: #fff;
}
.arbre a img {
  display: block;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-opacity: 0.50;
  opacity: 0.50;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
}
.arbre a.active img {
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}
.arbre a span.rank {
  display: block;
  position: absolute;
  top: 40px;
  left: 8px;
  width: 30px;
  height: 16px;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  color: #aaa;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid #aaa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.arbre a.active span.rank {
  border-color: #ffff00;
  color: #fff;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.9);
}
.arbre a div.relation {
  position: absolute;
  top: 60px;
  left: 15px;
  width: 16px;
  height: 13px;
  font-size: 10px;
  line-height: 10px;
  background: #000;
  -moz-opacity: 0.80;
  opacity: 0.80;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80);
}
.arbre a div.relation.active {
  border-color: #ffff00;
}
.arbre a span.dialog {
  display: none;
  position: absolute;
  top: 70px;
  left: -70px;
  width: 180px;
  padding: 5px;
  font-size:11px;
  color: #fff;
  text-decoration: none;
  border: 2px solid #aaa;
  background: #000;
  z-index: 10;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-opacity: 0.95;
  opacity: 0.95;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=95);
}
.arbre a:hover span.dialog {
  display: block;
}
.arbre div.total {
  position: absolute;
  bottom: 30px;
  right: 40px;
}
.arbre div.total img {
  display: block;
  float: left;
}
.arbre div.total span {
  display: block;
  float: left;
  padding: 10px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-opacity: 0.80;
  opacity: 0.80;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80);
}
.arbre div.total#mastery-total-3 img {
  position: relative;
  top: 6px;
}

.arbre .col0 {left: 15px;}
.arbre .col1 {left: 75px;}
.arbre .col2 {left: 135px}
.arbre .col3 {left: 195px}

.arbre .row0 {top: 15px;}
.arbre .row1 {top: 90px;}
.arbre .row2 {top: 165px}
.arbre .row3 {top: 240px}
.arbre .row4 {top: 315px}
.arbre .row5 {top: 390px}

#runes {
  position: relative;
  width: auto;
  height: 436px;
  padding: 0;
  margin: 0 0 10px;
  z-index: 0;
  background: url("../img/rune/runes.png") no-repeat 0 0 #111;
}
.add #runes {
  height: 500px;
  background: url("../img/rune/runes.png") no-repeat 100% 65px transparent;
}

#runes h2 {
  padding: 10px 30px;
}

#runes #col {
  width: 342px;
  height: 452px;
  overflow: scroll;
  background: #706642;
}
#runes .runesType {
  display: block;
  height: 29px;
  padding: 0 10px;
  line-height: 29px;
  background: url("../img/rune/bt.png") 0 0 repeat-x;
  cursor: pointer;
  color: #ccc;
}
#runes ul {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #ccc;
}
#runes ul li {
  display: block;
  height: 30px;
  padding: 5px 5px;
  font-size: 11px;
  line-height: 30px;
  background: url("../img/rune/bt.png") 0 100% repeat-x;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#runes #rune-page {
  display: block;
  position: relative;
  top: 0;
  width: 656px;
  height: 435px;
}
.add #runes #rune-page {
  position: absolute;
  right: 0px;
  top: 65px;
}
#runes #rune-page span span {
  display: none;
  position: absolute;
  top: -20px;
  left: 70px;
  width: 200px;
  padding: 5px;
  font-size:11px;
  color: #fff;
  text-decoration: none;
  border: 2px solid #aaa;
  background: #000;
  z-index: 10;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-opacity: 0.95;
  opacity: 0.95;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=95);
}

#runes #rune-page span:hover span {
  display: block;
}

#runes ul#rune-total {
  display: block;
  float: right;
  width: 174px;
}

#runes ul#rune-total li {
  display: block;
  padding: 10px 4px;
  background: url("../img/list.png") repeat-x scroll 0 100% #333333;
  border-bottom: 1px solid #fff;
  font-size: 13px;
  color: #fff;
  height: auto;
  line-height: 20px;
}

#runes .rune-red,
#runes .rune-yellow,
#runes .rune-blue,
#runes .rune-black {position: absolute; background: none; width: 49px; height: 49px;}
#runes .rune-black {width: 90px; height: 90px;}

#runes .rune-red {background: url("../img/rune/red.png") no-repeat 50% 50%;}
#runes .rune-yellow {background: url("../img/rune/yellow.png") no-repeat 50% 50%;}
#runes .rune-blue {background: url("../img/rune/blue.png") no-repeat 50% 50%;}

#runes .rune-red img,
#runes .rune-yellow img,
#runes .rune-blue img {display: block; width: 49px; height: 49px;}
#runes .rune-black img {display: block; width: 80px; height: 80px;}

#runes .rune-red-0 {top: 370px; left: 24px;}
#runes .rune-red-1 {top: 370px; left: 86px;}
#runes .rune-red-2 {top: 370px; left: 158px;}
#runes .rune-red-3 {top: 312px; left: 8px;}
#runes .rune-red-4 {top: 312px; left: 70px;}
#runes .rune-red-5 {top: 323px; left: 125px;}
#runes .rune-red-6 {top: 254px; left: 29px;}
#runes .rune-red-7 {top: 264px; left: 113px;}
#runes .rune-red-8 {top: 222px; left: 76px;}

#runes .rune-yellow-0 {top: 185px; left: 38px;}
#runes .rune-yellow-1 {top: 179px; left: 107px;}
#runes .rune-yellow-2 {top: 138px; left: 66px;}
#runes .rune-yellow-3 {top: 112px; left: 119px;}
#runes .rune-yellow-4 {top: 70px; left: 154px;}
#runes .rune-yellow-5 {top: 43px; left: 204px;}
#runes .rune-yellow-6 {top: 24px; left: 265px;}
#runes .rune-yellow-7 {top: 5px; left: 343px;}
#runes .rune-yellow-8 {top: 55px; left: 371px;}

#runes .rune-blue-0 {top: 6px; left: 399px;}
#runes .rune-blue-1 {top: 8px; left: 463px;}
#runes .rune-blue-2 {top: 6px; left: 550px;}
#runes .rune-blue-3 {top: 53px; left: 431px;}
#runes .rune-blue-4 {top: 40px; left: 507px;}
#runes .rune-blue-5 {top: 40px; left: 599px;}
#runes .rune-blue-6 {top: 87px; left: 482px;}
#runes .rune-blue-7 {top: 79px; left: 555px;}
#runes .rune-blue-8 {top: 133px; left: 576px;}

#runes .rune-black-0 {top: 35px; left: 26px;}
#runes .rune-black-1 {top: 224px; left: 182px;}
#runes .rune-black-2 {top: 159px; left: 413px;}

#runes ul li img {
  float: left;
  margin: 0 10px 0 0;
}

#champions {
  padding: 10px;
  background: #ededee;
  overflow: hidden;
}

#champions ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#champions ul li {
  display: block;
  float: left;
  border: 2px solid #ededee;
}
#champions ul li:hover {
  border: 2px solid #888;
}
#champions ul li.selected {
  border: 2px solid #ff0000;
}
#champions ul li img {
  display: block;
  margin: 0;
  border: none;
}

#items {
  position: relative;
  padding: 10px;
  border-top: none;
}
#items ul {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
}
#items ul li {
  position: relative;
  display: block;
  float: left;
  border: 2px solid #ededee;
  cursor: pointer;
}
#items ul li:hover {
  border: 2px solid #888;
}
#items ul li.selected {
  border: 2px solid #ff0000;
}
#items ul li img {
  display: block;
  margin: 0;
  border: none;
}
#items ul li font.dialog {
  display: none;
  position: absolute;
  top: 50px;
  left: -100px;
  width: 200px;
  padding: 5px;
  font-size:11px;
  color: #fff;
  text-decoration: none;
  border: 2px solid #aaa;
  background: #000;
  z-index: 10;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-opacity: 0.95;
  opacity: 0.95;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=95);
}
.show #items ul li font.dialog {top: -20px; left: 60px; width: 400px;}
#items ul li:hover font.dialog {
  display: block;
}
#items #items-set {
  display: block;
  margin-bottom: 20px;
  background: #aaa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-height: 49px;
  padding: 2px;
}
#items #items-set ul li {
  margin: 2px;
}

#guidesList {
  display: block;
  padding: 0;
  margin: 0;
}

#guidesList li.guide {
  display: block;
  padding: 10px;
  background: url("../img/list.png") repeat-x 0 100% #333;
  border-bottom: 1px solid #d90008;
  clear: both;
}

#guidesList li.guide img {
  display: block;
  float: left;
  width: 12%;
  margin-right : 1%;
  border: 2px solid #555;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#guidesList li.guide span.info {
  width: 710px;
  color: #aaa;
}
#guidesList li.guide span.info h2 {
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
}
#guidesList li.guide span.info h3 {
  margin-left: 50px;
  padding: 0;
  color: #fff;
}


#guidesList li.guide span.info span.champion,
#guidesList li.guide span.info span.author
{
  font-size: 14px;
  color: #fff;
}
#guidesList li.guide span.info span.author
{
  color: #d90008;
}
#guidesList li.guide span.info span.poste {
  float: right;
  background: #d90008;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 26px;
  margin: 28px 0 28px 10px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
}
#guidesList li.guide span.info span.poste.top {}
#guidesList li.guide span.info span.poste.middle {}
#guidesList li.guide span.info span.poste.jungle {}
#guidesList li.guide span.info span.poste.adc {}
#guidesList li.guide span.info span.poste.support {}

#filters {
  margin-bottom: 20px;
}

select.filter {
  margin: 10px;
}

.show #champ_img { float: left; margin-right: 20px; margin-bottom: 20px;}
.show p {clear: both}



div.box_thunder {
  padding: 5px;
}



.videocontainer{
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}
.videocontainer{
  padding-bottom: 60%;
}
.videocontainer iframe, .videocontainer embed, .videocontainer object{
  width: 100%!important; height: 100%!important;
  position: absolute;
  top: 0; left: 0;
}



.tchat{
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}
.tchat{
  padding-bottom: 40%;
}
.tchat iframe, .tchat embed, .tchat object{
  width: 100%!important; height: 100%!important;
  position: absolute;
  top: 0; left: 0;
}

h2.player {
    position: relative;
    width: 98%;
    padding-left: 10px;
    font: 17px/37px Helvetica;
    text-transform: uppercase;
    color: #FFF;
    height: 40px;
    background: url('img/pattern_menu.png') repeat scroll 0% 0% #323232;
    border-bottom: 2px solid #d90008;
    box-shadow: 0px 2px 6px -2px #1F0F05;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


h1.thunder_orange {
    position: relative;
    font: 17px/32px Helvetica;
    text-transform: uppercase;
    color: #FFF;
    background: url('img/menu_2.png') repeat-x scroll 0px 0px transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0px 15px;
    margin-top: -8px;
    margin-bottom: 1px;
    margin-left: 0px;
}

span.player_role {
    float: right;
    font: 12px/24px Helvetica;
    text-transform: uppercase;
    color: #FFF;
    background: url('img/menu_2.png') repeat-x scroll 0px 0px transparent;
    border-radius: 4px;
    padding: 5px;
    margin-right: 1px;
    margin-top: 1px;
}



img.img_24 {
    float: right;
    font: 12px/24px Helvetica;
    text-transform: uppercase;
    color: #FFF;
    background: url('img/menu_2.png') repeat-x scroll 0px 0px transparent;
    border-radius: 4px;
    padding: 5px;
    margin-right: 1px;
    margin-top: 1px;
}


#header_logo {
    margin-top: 5%;
    /*margin-bottom: -35px;*/
    float: left;
    /*margin-left: 60px;*/
    margin-left : -28%;

}

#img_full {
    width: 100%;
}

h2.title_black_thunder  {
    margin-top: 10px;
    line-height: 25px;
    font-size: 24px;
}

h2.title5  {
    line-height: 25px;
    font-size: 18px;
}

strong.strong_comment_redacteur {
    color: #d90008;
    font-size: 13px;
}

span.bouton_hide {

}
hr.rouge
{
    border-top : 1px solid #d90008!important;
    margin-bottom: 50px;
}

div.input textarea required {
    border-color: #66AFE9;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}


#img_gallery{
    display: block;
    width: 100%;
    height: auto;
}


#gallery_block{
    padding : 25px;
}


span.comment_total {
    background: url('img/menu_2.png') repeat-x scroll 0px 0px transparent;
    border-radius: 5px;
    padding: 10px 12px 10px 12px;
    color: #FFF;
    font-size: 16px;
    line-height: 16px;
    height: 18px;
    vertical-align: middle;
}



footer.well {

  color: #ffffff;
  background: url('img/list.png') repeat-x scroll 0px 100%;
  /*border-top: 2px solid #d90008;*/
    font-family: Akashi;
}
.footer
{

}
.comment-count, .strong_comment_redacteur
{
    font-family: Akashi;
    color : #d90008;
}
footer.well li {
    list-style: none outside none;
}


.well {

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}



div.min_height {
  min-height : 800px;
}


span.comment_total2 {
    background: url('img/menu_2.png') repeat-x scroll 0px 0px transparent;
    border-radius: 3px;
    padding: 4px 4px;
    color: #FFF;
    font-size: 13px;
    line-height: 13px;
    height: 15px;
    vertical-align: middle;
}


span.comment_total3 {
    background: url('img/menu_2.png') repeat-x scroll 0px 0px transparent;
    border-radius: 3px;
    padding: 3px 3px;
    color: #FFF;
    font-size: 13px;
    line-height: 13px;
    height: 15px;
    vertical-align: middle;
}



div.padding_thunder {
    padding: 15px;
}

#spell_guide_thunder {
    width : 25px;
}


td.skill {
  min-width : 300px;
}


div.thunderbox2 {
  height : 1000px;
}




thead.deck_top {
background-color: #212121;
background-image: -webkit-linear-gradient(top,#212121,#212121);
background-image: -moz-linear-gradient(top,#212121,#212121);
background-image: -ms-linear-gradient(top,#212121,#212121);
background-image: -o-linear-gradient(top,#212121,#212121);
background-image: linear-gradient(top,#212121,#212121);
border: 1px solid #3f3c3f;
padding: 4px 8px;
color: white;
font-size: 12px;
}


p.title_tab_deck {
    color: #272727;
    font-weight: bold;
    word-wrap: break-word;
}


div.thunderbox img {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  height: auto;
}


/*------ NAV BAR ------*/
#link-connect:focus, #link-connect:hover
{
    color: #d90008;
    text-decoration: none;
    background-color: transparent;
}

#box-connexion, #link-createaccount ,#link-resetpassword
{
    color : #999;
    background-color: #333;
}
#box-connexion
{
    width: 250px;
}

#box-connexion .btn-thunder2
{
    width: 100%;
}

#link-helper p
{
    text-align: center;
}

.menu li a
{
    font-size: 26px;
    color : black;
    font-weight: bold;
    margin-top: 70px;
    text-transform: uppercase;
}
.menu li a:hover{
    background: none;
    color : #d90008;
}
#account
{
    margin-top: 55px;
}
.menu
{
    margin-left: -7%;
}

.menu-dynamique li
{
    margin-right: 15px;
    margin-bottom: 10px;
}
.navbar-right > li > a .social img
{
    width: 39px;
}
body > nav > div > div.collapse.navbar-collapse.navbar-ex1-collapse > ul.nav.navbar-nav.menu-dynamique > li:nth-child(9)
{
    margin-right: 5px;
}
.navbar .divider-vertical
{
    height: 70px;
    border-right: 1px solid #808080;
    vertical-align: top;
    top :5px
}
.navbar-right  .social
{
    margin-top: 5px;
}
.navbar-right .dropdown
{
    margin-top: 17px;
}
.navbar-right
{
    margin-right: -25px!important;
}
#recherche
{
    margin-top : 6px;
}
#recherche .input-group
{
    width: 300px;
}

/*------ SLIDER ------*/
#caroussel
{
    max-height: 400px;
}

.slider{
    max-width:970px;
    margin:0 auto 0;
    min-height:200px;

}
.slider1{
    display: none;
}

.slide span{
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}
.slide .zone-txt {
    width: 100%;
    padding: 20px 4%;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .50);
    margin: 0;
}
.slide .zone-txt {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    text-align: left;
    z-index: 50;
}

.slide .zone-txt .title{
    color: #fff;
    font-size: 34px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.slide .sous-titre{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    padding-left: 3px;
}

.slide .cat{
    position: absolute;
    top: -11px;
}

#outer-slider
{
    width:100%;
    position:relative;
}
.left_fader{
    cursor: pointer;
    opacity: .5;
    position: absolute;
    left: -1000px;
    top: 0px;
    height: 400px;
    width: 1075px;
    background: url(bxslider/homefade.png);
    background-repeat: repeat-x;
    float: left;
    z-index: 5;
}
.right_fader
{
    cursor: pointer;
    opacity: .5;
    position: absolute;
    right: -1000px;
    top: 0px;
    height: 400px;
    width: 1085px;
    background: url(bxslider/homefade.png);
    background-repeat: repeat-x;
    float: left;
    z-index: 5;
}

.bx-wrapper{margin-bottom: 0;position: relative;}
.bx-wrapper .bx-viewport{border: none;box-shadow: none;}
.bx-pager{display: none;}

.bx-wrapper .bx-next {
    right: 20px;
    background-image: url(bxslider/spritesheet.png);
    background-repeat: no-repeat;
    width: 40px!important;
    height: 40px!important;
    background-position: -515px -111px;
    position: absolute!important;
}

.bx-wrapper .bx-prev {
    background-image: url(bxslider/spritesheet.png);
    background-repeat: no-repeat;
    width: 40px!important;
    height: 40px!important;
    background-position: -315px -161px;
    position: absolute!important;
}

.bx-wrapper .bx-next:hover{
    background-image: url(bxslider/spritesheet.png);
    background-position: -515px -111px;
}

.bx-wrapper .bx-prev:hover{
    background-image: url(bxslider/spritesheet.png);
    background-position: -315px -161px;
}
.left_fader
{
    cursor: pointer;
    opacity: .5;
    position: absolute;
    left: -1000px;
    top: 0px;
    height: 400px;
    width: 1005px;
    background: url(bxslider/homefade.png);
    background-repeat: repeat-x;
    float: left;
    z-index: 5;
}

.right_fader
{
    cursor: pointer;
    opacity: .5;
    position: absolute;
    right: -1000px;
    top: 0px;
    height: 400px;
    width: 1015px;
    background: url(bxslider/homefade.png);
    background-repeat: repeat-x;
    float: left;
    z-index: 5;
}


#thunderbot .bx-viewport
{
    overflow: visible!important;
}

.bx-viewport
{
    border-top-width: 0px!important;
    border-bottom-width: 0px!important;
}
#thunderbot .slider1{margin-left: 0;}
#thunderbot .slide{padding:0;}

#thunderbot .bx-wrapper .bx-controls-direction a {
    bottom: 150px!important;
    height: 80px!important;
}

#thunderbot .bx-wrapper .bx-next{
    right: -30px!important;
    background: url('bxslider/fleche-droite-main-slider.png') center center;
}

#thunderbot .bx-wrapper .bx-next:hover{
    right: -40px!important;
    background: url('bxslider/fleche-droite-main-slider.png') center center;
    opacity: .8;
}

#thunderbot .bx-wrapper .bx-prev{
    left: -40px!important;
    background: url('bxslider/fleche-gauche-main-slider.png') center center;
}

#thunderbot .bx-wrapper .bx-prev:hover{
    left: -40px!important;
    background: url('bxslider/fleche-gauche-main-slider.png') center center;
    opacity: .8;
}
#outer-slider .bx-wrapper .bx-viewport  a  img
{
    width: 100%;
    max-height: 392px;
}



/*------ GALERIE ------*/
.panel-heading
{
    font-size: 20px;
    border-top: 3px solid #d90008;
    border-bottom: 3px solid #d90008;
    padding-top: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background: url('img/list.png') repeat-x scroll 0px 100% #333;
    color : white;
}

/*------ ACTUALITES ------*/

.line-title-actualite
{
    text-align: center;
    margin-bottom: 40px;
    padding-top: 10px;
    border-bottom: 3px solid #d90008;
    border-top: 3px solid #d90008;
}
.line-title-actualite h4
{
    font-size: 16px;
}
h5.line-title-high-tech span
{
    font-size: 20px;
}
span.line-title-high-tech
{
    background: url('/img/line-title-high-tech.png') repeat-x 0 -2px;
    margin: 20px 0;
    text-align: center;
    color: #d90008;
    padding-left: 0px ;
    padding-right: 0px;
}
h5.line-title-high-tech
{
    margin: 20px 0;
    text-align: center;
    color: #d90008;
    background: url('/img/line-title-high-tech.png') repeat-x 0 -2px;
}
.line-title-high-tech span
{
    background-color: #fff;
    padding: 0 10px;
    font-size: 24px;
    text-transform: uppercase;
    font-family: "Oswald";
}
h4 > span.big-title
{
    margin: 20px 0;
    text-align: center;
    color: #000000;
    padding-left: 0px ;
    padding-right: 0px;
    /*letter-spacing: 5px;*/
}
h5 > span.big-title
{
    margin: 20px 0;
    text-align: center;
    color: #000000;
    padding-left: 0px ;
    padding-right: 0px;
}
h4.line-title-high-tech
{
    margin: 20px 0;
    text-align: center;
    color: #d90008;
    background: url('/img/line-title-high-tech.png') repeat-x 0 2px;
}

article .picture img
{
    max-width: 100%;
    width: 100%;
    max-height: 242px;
    min-height: 242px;
}
.partage
{
    float : right;
    font-size: 15px;
}
 div.partage > span
{
    top: 3px;
}
.date
{
    float : left;
}
.entete
{
    width: 100%;
    margin-top: 10px;
    display: inline-block;
    color: #000000;
    text-transform: uppercase;
}

.resume h3 a{
    font-weight: 700;
    font-size: 18px;
}

.resume
{
    padding-bottom: 20px;

}

.resume a p {
    color : #000000;
    font-size: 13px;
    line-height: 16px;
}

.resume a p:hover, .resume header h3 a:hover, #riot a:hover, .menu-dynamique a:hover
{
    color : #d90008;
}

.date small
{
    font-size: 70%;
}
.article
{
    margin-top: 15px;
}
#twit, #twit-ThunderBot
{
    margin-top: 25px;
}
#riot ul li:first-child, #riot > ul > li:nth-last-child(2)
{
    font-weight: bold;
}
#riot ul
{
    list-style-type: none;
}

.riot_news
{
    display: inline-flex;
}
.riot_news_logo
{
    display: inline-table;
}
.riot_news_title
{
    margin-left: 8px;
}

/*#riot hr
{
    border: 1px solid grey;
    margin-top: 12px;
    margin-bottom: 12px;
}*/
.hr-grey-3
{
    clear: both;
    border-top: 3px solid #eee;
}

/*------ EQUIPE ------*/
#portfolio
{
    margin-left: 10.5%;
}
#portfolio .bloc
{
    margin-bottom: 5%;
}
.bloc{
    float:left;
    margin: 15px;
    height: 347px;
}
.bloc .info{
    display:none;
}
.bloc.unfold{
    height: 347px;
    width: 90%;
}

.bloc.unfold .info{
    display: block;
}

.masonry-brick
{
    overflow: visible!important;
}
.bloc .info a img
{
  float : left!important;
    height: 347px;
}
.bloc.unfold .thumb{
    display: none;
}
.info .thumb-info
{
    float: left;
    height: 350px;
}
.info .content-info p
{
    margin-left: 250px;
    padding-right: 5px;
}
.info .content-info
{
    border-right: 2px solid #d90008;
    border-bottom: 2px solid #d90008;
    height: 300px;
}
.info .content-info img
{
    height: 350px;
}
.info .content-info h2
{
    font-size: 20px;
    margin-left: 250px;
    padding-top : 5px;
}
.thumb-title
{
    text-align: center;
    border-top: 2px solid #d90008;
    border-right: 2px solid #d90008;
    border-left: 2px solid #d90008;
    border-bottom: 2px solid #d90008;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.content-info > ul
{
    list-style-type: none;
    padding-top: 10px;
    margin-left: 210px;
}
.content-info > ul > li
{
    float: left;
    margin-right: 15px;
}
.social {
    height: 64px!important;
}

.thumb-title h2
{
    margin-bottom: 0;
}
/*------ PAGE WEB TV ------*/
.videocontainer
{
    min-height: 600px;
    max-height: 600px;
}
#tv-chat iframe
{
    min-height: 600px;
    max-height: 600px;
}
.tab-pane
{
    min-height: 520px;
}
#tv-info
{
    margin-top: 30px;
}

/*------ ARTICLE VIEW ------*/
.img-article
{
    margin-top: 10px;
    margin-bottom: 20px;
}
.img-article img
{
    margin : 0 auto;
    width: 100%;
    max-height: 400px;
}
#social-article
{
    margin-top : 15px;
    margin-bottom: 50px;
}
#social-article ul
{
    list-style-type: none;
}
#social-article ul li {
    float: left;
    margin-right: 30px;
}
.article-comment img
{
    height: 75px;
    max-height: 75px;
    max-width: 75px;
    min-width: 75px;
}
#commentForm
{
    margin-bottom: 30px;
}
.comment-up
{
    font-size: 23px;
    margin-left: 14px;
}
.article-comment-timeago
{
    color : #151515;
    margin-left: 7px;
    font-size: 12px;
    font-style: italic;
}

.article-comment-form
{
    /*margin-top: 50px;*/
    /*margin-bottom: 75px;*/
}
.article-comment-content p
{
    color : #000000;
}

#commentForm textarea
{
    width: 100%;
    resize: none;
    margin-bottom: 25px;
}
.article-articles-title
{
    margin:40px 0 20px
}
.next-article, .prev-article
{
    font-size: 10px;
    color: #151515;
}

.nav-article:hover
{
    color:#d90008!important;
}
#comment
{
    margin-top: 50px;
}
.nav-article .glyphicon-chevron-right, .nav-article .glyphicon-chevron-left
{
    top: 3px;
}
.nav-article .glyphicon-chevron-right{
margin-left: 3px;
}
.nav-article .glyphicon-chevron-left
{
    margin-right: 3px;
}
.navbar-ex1-collapse .fa
{
    display : block!important;
    margin-left: 10%;
}
.navbar-ex1-collapse .fa-suitcase
{
    margin-left: 25%;
}
.navbar-ex1-collapse .fa-envelope
{
    margin-left: 23%;
}
.navbar-ex1-collapse .fa-file
{
    margin-left: -1%;
}
.navbar-ex1-collapse .fa-book
{
    margin-left: 25%;
}
.navbar-brand
{
    padding-top: 0px;
}
.navbar-brand .header-logo
{
    margin-top: -20px;
}

.thunderbot
{
    margin-top: 10px;
}

#article, #equipe, #mur,#guides-detail
{
    margin-top: 60px;
}
#guide {
    margin-top : 80px
}
.error-message
{
   text-align: center;
}

/*------ CONTACT ------*/

.contact, .users
{
    margin-top: 55px;
}
form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}
.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}
.floating-label-form-group input, .floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}
.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}
.floating-label-form-group input, .floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}
.contact{
    height: 800px;
}

/*------ USER ------*/

.title-user-image
{
    padding-top: 15px;
    padding-bottom: 15px;
}

/*------ ACCOUNT ------*/

.form-control[readonly]
{
    background-color: white!important;
}
#UserBirthdayMonth, #UserBirthdayDay, #UserBirthdayYear
{
    width: 32%;
    display: inline-block;
}
#account .date, #signup .date
{
    float: none;
}
#account
{
    margin-bottom: 30px;
}
#signup-complete
{
    min-height: 950px;
}
#error-404
{
    min-height: 850px;
}
#error-404 p
{
    font-size: 20px;
}
.noadblock
{
    width: 260px;
}


/*****GUIDES******/

.champion-header, .champion-img, .champion, .champion-bloc
{
    padding-right: 0!important;
    padding-left: 0!important;

}
.champion-guide-link
{
    padding-left: 10px!important;
}
.champion-guide-link a{
    margin-bottom: 10px;
}
.champion-guide-link .btn{
    width: 100%;

}
#content-champions > div.champion-bloc
.champion-bloc{
    margin-bottom: 40px;
    padding-left: 0px!important;
}
.champion-header h1
{
    font-size: 20px;
    text-align: left;
}
#guide .bloc
{
    height: 150px;
}

#guide .champion-img-unfold
{
    float:left;
}

div.link-guide
{
    float: left;
    width: 50%;
    padding-left: 15px;
}
#content-champions .bloc.unfold{
    height: 150px;
    width: 37%;
    padding-right: 0px!important;
    margin-left: 5px!important;
}

#pub-hp-haut iframe,#pub-rg-haut iframe{
    display : block;
    margin : 0 auto;
}